<h1>What cocktail did you invent ?</h1>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name, error: "Some error on the cocktail name"%>


  <%= f.submit "Create cocktail", class: "btn btn-primary" %>
<% end %>
